/* body */
body {
	min-height: 3000px;
}

/* Navbar */
.navbar {
	position: relative;
	z-index: 1;
}

.navbar-brand {
	font-family: viga, sans-serif;
	font-size: 32px;
}

/* Kegunaan */
.tombol {
	text-transform: uppercase;
	border-radius: 40px;
	padding: 8px 30px 8px 30px;
}



/* Jumbotron */
.jumbotron {
	background-image: url(img/jumbotron.jpg);
	background-size: cover;
	height: 660px;
	text-align: center;
	position: relative;
}
.jumbotron .display-4 {
	color: white;
	padding-top: 24vh;
	font-weight: 200;
	font-size: 50px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8)
}

.jumbotron .display-4 span {
	font-weight: 500;
}


/* Info Panel */
.info-panel {
	border-radius: 13px;
	margin-top: -20px;
	background-color: white;
	position: relative;
	padding: 15px;
	margin-bottom: 20vh;
}

.col-lg img {
	padding-bottom: 17px;
}
.info-panel h4 {
	text-transform: uppercase;
}

/* Features */
.textbest {
	margin-bottom: -5px;
	font-family: sans-serif;
}
.features h4{
	font-family: viga, sans-serif;
	font-size: 55px	;
}

/* Desktop Version */
@media (min-width: 992px) {
	.navbar-brand, .nav-link{
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.7)
	}
	.nav-link {
		text-transform: uppercase;
		margin-right: 20px;
	}
	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid blue;
		width: 50%;
		padding-bottom: 5px;
		margin: auto;
		margin-bottom: -8px;
	}
	.jumbotron {
		margin-top: -77px;
		height: 640px;
	}
	.jumbotron .display-4 {
		font-size: 62px;
		padding-top: 34vh;
	}
	.info-panel {
		margin-top: -65px;
	}
}
